<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include ('./partials/files.ejs') %>
</head>
<body class="start_page">
    
    <main>
        <div class="login_header">
            <a href="/user/signup"><button class="signup">Sign Up</button></a>
            <a href="/user/login"><button class="login">Login</button></a>
        </div>
    </main>

</body>
</html>