@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    
}

body {
    /* background-color: rgb(187, 151, 125); */
    font-family: Quicksand;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home, .add{
    border: none;
    border-radius: 15px;
    background-color: rgb(97, 140, 97);
    color: white;
    text-decoration: none;
    padding: .5em;
}

.signup_page, .login_page, .index_page, .start_page, .show_page, .new_page, .edit_page {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.start_page {
    background-image: url('./images/monstera.png');
    display: grid;
    justify-content: center;
    align-items: center;
}

.index_page {
    background-image: url('./images/paradise.png');
}

.show_page {
    background-image: url('./images/olive.png');
}

.new_page{
    background-image: url('./images/2pots.png');
}

.edit_page {
    background-image: url('./images/wildflower.png');
}

.app_name {
    color: white;
    text-align: center;
    margin: 0 0 .5em 0;
}           

.login, .signup {
    height: 35px;
    width: 70px;
    border-radius: 15px;
    border: none;
    background-color: rgb(117, 88, 66);
    color: white;
    font-family: Quicksand;
}  

.login_header {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.signup_page, .login_page {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('./images/vine.png');
}

.login_form {
    background-color: white;
    width:350px;
    height:250px;
    border-radius: 20px;
    border: none;
    text-align: center; 
}
 
.user, .pw{
    display: flex;
    gap: .3em;
    margin: 0 0 0 2.5em;
}

.user {
    margin: 2em 0 0 2.5em;
}

h3 {
    margin: 1.4em 0 0 0; 
}

.account_header {
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.container {
   text-align: center;
   padding: 2em;
}

.account_body, .list {
    display: grid;
    justify-content: center;
    gap: 1em
}

.account_body {
    padding: 2em;

}

.img_grid {    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    list-style: none;
    gap: 1em;
    padding: 0;
    align-items: center;
}

.show_link {
    text-decoration: none;
    color: saddlebrown; 
}

.plant_pic {
    border-radius: 20px;
    height: 200px;
    width: 200px;
    margin: .5em 0 0 0; 
}

.add {
    width: 90px;
}

.profile, .edit_form, .new_form {
    border-radius: 20px;
    padding: 2em;
    margin: 3em 3em 2em 3em;
    background-color: white;
}

.plant_name {
    margin: 0 0 .5em 0;
}

.change_header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.new_plant_header {
    color: rgb(228, 228, 228);
}

.edit, .delete, .save_changes {
    border: none;
    border-radius: 10px;
    padding: .4em;
    font-family: Quicksand;
}

.save_changes {
    background-color: rgb(175, 141, 120);
    color: white;
}

.logout {
   border: none;
   border-radius: 10px; 
   padding: .5em;
}

.add, .edit, .delete, .logout {
    &:hover {
        cursor: pointer;
    }
}

@media screen and (max-width: 600px) {
    .login_header {
        justify-content: center;
        gap: 2em;
    }
    
    .signup_page, .login_page {
        background-size: cover;
        background-position: -40vw;
    }

    .img_grid {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        overflow: auto;
    }

    .plant_pic {
        width: 130px;
        height: 130px;
    }

    .new_form, .edit_form {
        width: 300px;
        height: auto;
        margin: 3em 0 0 0;

    }

    .index_page {
        background-attachment: fixed;
    }

 
}