@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    
}

body {
    background-color: rgb(187, 151, 125);
    font-family: Quicksand;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home, .add{
    border: none;
    border-radius: 15px;
    background-color: rgb(97, 140, 97);
    color: white;
    text-decoration: none;
    padding: .5em;
}

.start_page {
    background-image: url('./images/homepage.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: center;

}

.login, .signup {
    height: 8vh;
    width: 10vw;
    border-radius: 15px;
    border: none;
    background-color: rgb(117, 88, 66);
    color: white;

}              


.login_header {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.account_header {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.container {
   text-align: center;
   padding: 2em
}

.account_body, .list {
    display: grid;
    justify-content: center;
    gap: .3em
}

.account_body {
    padding: 2em;

}

.list {
    list-style: none;
}

.add {
    width: 12vw;
}

.profile, .form {
    border: 1px solid black;
    border-radius: 20px;
    padding: 2em;
    margin: 3em
}

.plant_name {
    margin: 0 0 1em 0
}

.data {
    
}

.edit, .delete {
    border: none;
    border-radius: 10px;
    padding: .4em;
    font-family: Quicksand;
}