<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <%- include ('../partials/files.ejs') %>
</head>
<body class="login_page">
    
    <main class="login_container">
        <div>
            <form class="login_form" action="/user/login" method="POST">
                <fieldset>
                    <label class="user">Username: <input required type="text" name="username"></label>
                </br>
                    <label class="user">Password: <input required type="password" name="password"></label>
                </br>
                    <input class="login2" type="submit" value="Login">
                </fieldset>
            </form>
        </div>
    </main>

</body>
</html>