<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <%- include ('../partials/files.ejs') %>
</head>
<body class="signup_page">
    
    <main class="signup_container">
        <div>
            <form action="/user/signup" method="POST">
                <fieldset class="login_form">
                    <h3>New User</h3>
                    <label class="user">Username: <input required type="text" name="username"></label>
                </br>
                    <label class="pw">Password: <input required type="password" name="password"></label>
                </br>
                    <input class="login" type="submit" value="Create Account" />
                </fieldset>
            </form>
        </div>
    </main>

</body>
</html>