<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plant Tracker</title>
    <%-include('../partials/files.ejs') %>
</head>
<body class="edit_page">
    
    <main class="container">
        <div class="header">
            <h1><%=plant.name%></h1>
            <a class="home" href="/plants">Home</a>
        </div>

        <div class="edit_form">
            <h2>Edit Log</h2>
            </br>
            <form class="form" action="/plants/<%=plant._id%>?_method=put" method="post">
                Name: <input type="text" name="name" required />
                </br>
                </br>
                Acquired: <input type="date" id="dateAcquired" name="dateAcquired" />
                </br>
                </br>
                Watered: <input type="date" id="watered" name="watered" />
                </br>
                </br>
                Fertilized: <input type="date" id="fertilized" name="fertilized" />
                </br>
                </br>
                Variegation: <input type="checkbox" name="variegation" />
                </br>
                </br>
                Rare: <input type="checkbox" name="rare" />
                </br>
                </br>
                Notes: <input type="text" name="notes" />
                </br>
                </br>
                <input class="save_changes" type="submit" value="Save Changes" />
            </form>
        </div>
        
    </main>

</body>
</html>