<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plant Tracker</title>
    <%- include ('../partials/files.ejs') %>
</head>
<body class="index_page">
    
    <main>
        <div class="container">
            <div class="account_header">
                <p>Hi, <%= user %>!</p>
                <a href="/user/logout"><button class="logout">Logout</button></a>
            </div>
        
            <div class="account_body">
                <h1>My Plants</h1>
                <a class="add" href="/plants/new">+ Plant</a>
                
            </div>


            <div class="my_plants">
                <ul>
                    <% plants.forEach(plant => { %>
                        <li class="list">
                            <a href="/plants/<%=plant._id %>">
                            <%= plant.name %></a>
                            <img class="plant_pic" src="/images/leaf.png" alt="Leaf" />
                        </li>
                    <% }) %>
                </ul>
            </div>
        </div>
    </main>

</body>
</html>