<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plant Tracker</title>
    <%-include('../partials/files.ejs') %>
</head>
<body class="new_page">
    
    <main class="container">
        <div class="header">
            <h1 class="new_plant_header">New Plant Log</h1>
            <a class="home" href="/plants">Home</a>
        </div>

        <div class="new_form">
            <form class="form" action="/plants" method="post">
                Name: <input type="text" name="name" required />
                </br>
                </br>
                Acquired: <input type="date" id="dateAcquired" name="dateAcquired" />
                </br>
                </br>
                Watered: <input type="date" id="watered" name="watered" />
                </br>
                </br>
                Fertilized: <input type="date" id="fertilized" name="fertilized" />
                </br>
                </br>
                Variegation: <input type="checkbox" name="variegation" />
                </br>
                </br>
                Rare: <input type="checkbox" name="rare" />
                </br>
                </br>
                Notes: <input type="text" name="notes" />
                </br>
                </br>
                <input class="add" type="submit" value="+ Plant" />
            </form>
        </div>

    </main>

</body>
</html>